{% extends 'base.html' %}

{% block content %}

    <h1>Here you go with all employees of This Company</h1>
            <th>Employee</th>
            <th>Department</th>
            <th>Position</th>
            <th>E-mail</th>
            <th>Personal Number</th>
            <th>Employment Position</th>
            <th>Date of Employment</th>
        </tr>
        <ul class="employee-info">
        {% for employee in employees %}
        <li>
            <a href="{% url 'employee' employee_id=employee.id %}">

            </a>

        </li>

    <table>
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.personal_number }}</td>
            <td>{{ employee.employment_position }}</td>
            <td>{{ employee.date_of_employment }}</td>
        </tr>
    </table>

            {% endfor %}
        </ul>

{% endblock %}